= form_for [:admin, @language] do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :key, class: 'control-label'
    .controls
      = f.text_field :key, class: 'form-control'
  = f.submit nil, class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_languages_path, :class => 'btn btn-default'
