%h1 #{Language.first.key}-#{Language.last.key}
%table.table
  %tr
    %th Word
    %th Translation
    %th Count
    %th Success count
    %th Success percent
    %th
  - @translations.each do |t|
    %tr{data: {:translation_id => "#{t.id}"}}
      %td= t.word
      %td= t.translation
      %td= t.translation_count
      %td= t.success_translation_count
      %td #{t.percent} %
      %td
        %span.deleteAction.btn.btn-link delete
      
