%p= @translation.translation
%div  
  %div.btn.btn-success.btn-show-word
    %div.text-show-word Show Word
    %div.show-word= @translation.word
  %br
  %br
  %div{data: {translation_id: "#{@translation.id}"}}
    %button{type: "button", class: "btn btn-success btn-translate"} Перевел
    %button{type: "button", class: "btn btn-danger btn-not-translate"} Не перевел