// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.load-btn{
  margin-top: 5px;
}
.deleteAction {
}